.navlink_container, .slider_container, .category_container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .head {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    svg {
      font-size: 18px;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
  }

  .slash{
    margin-bottom: 10px;
  }
}
