.best_selling_products_container,
.related-products_container {
  .best_selling_products_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .best_selling_products_header {
      p {
        font-size: 0.9rem;
        color: #db4444;
        font-weight: bold;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 30px;
        font-weight: 550;
      }
    }

    .btn {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        cursor: pointer;
        border: none;
        background: #db4444;
        color: #fff;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 4px;
      }
    }
  }

  .best_selling_products,
  .related-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    a {
      text-decoration: none;
      color: #000;
    }

    .product {
      position: relative;
      width: 220px;
      height: 350px;

      .card {

        .card-product {
          background: #f5f5f5;
          padding: 0.8rem;
          position: relative;
          display: flex;

          .discount {
            position: absolute;
            top: 10px;
            left: 10px;
            background: #db4444;
            color: #fff;
            padding: 0.2rem;
            font-size: 0.8rem;
            border-radius: 4px;
          }

          .card-image {
            width: 190px;
            height: 180px;
            padding: 1rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .card-content {
          padding: 10px 0;

          p {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 5px;

            .sp {
              color: #db4444;
              font-size: 1.2rem;
            }

            .mrp {
              color: #c3c3c3;
              text-decoration: line-through;
              margin-left: 10px;
            }
          }

          .rating {
            svg {
              font-size: 0.8rem;
              color: #ffad33;
              margin-right: 5px;
            }
          }
        }
      }

      .icons {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        position: absolute;
        top: 10px;
        right: 10px;

        .icon {
          width: 30px;
          height: 30px;
          background: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .icon:hover {
          color: #fff;
          background: #db4444;
        }
      }
    }
  }
}

.related-products_container {
  padding: 5rem 0;

  h3 {
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    color: #db4444;
  }

  .related-products {
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .related-products_container {
    padding: 2.5rem 0;
  }
}

@media only screen and (max-width: 663px) {
  .best_selling_products_container {
    .best_selling_products_title {
      .best_selling_products_header {
        p {
          font-size: 0.8rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }

      .btn {
        button {
          padding: 0.5rem 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 535px) {
  .best_selling_products_container,
  .related-products_container {
    .best_selling_products,
    .related-products {
      gap: 1.2rem 1.5rem;

      a {
        .card {
          width: 150px;
          height: 220px;

          .card-product {
            .discount {
              font-size: 0.6rem;
            }

            .card-image {
              width: 150px;
              height: 110px;
            }

            .icons {
              .icon {
                height: 18px;
                width: 18px;
              }
            }
          }

          .card-content {
            p {
              font-size: 0.8rem;
              margin-bottom: 5px;
            }

            .rating {
              svg {
                height: 12px;
                width: 12px;
              }
            }
          }
        }
      }
    }

    .related-products {
      padding: 1.5rem 0;
    }
  }
}

@media only screen and (max-width: 425px) {
  .best_selling_products_container {
    .best_selling_products_title {
      .best_selling_products_header {
        p {
          font-size: 0.7rem;
        }

        h2 {
          font-size: 1rem;
        }
      }

      .btn {
        button {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 387px) {
  .related-products_container {
    .related-products {
      .related-product_item {
        .card {
          width: 130px;
          height: 200px;

          .card-product {
            .card-image {
              width: 130px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 351px) {
  .best_selling_products_container,
  .related-products_container {
    .best_selling_products,
    .related-products {
      a,
      .related-product_item {
        .card {
          width: 130px;
          height: 200px;

          .card-product {
            .card-image {
              width: 130px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
