.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .component{
    padding: 2rem;
  }

  hr {
    border: none; /* Remove default border */
    border-top: 1.5px solid #e4e4e4;
    width: 80%; /* Adjust the width of the line */
    margin: 20px auto; /* Center the line with some margin on top and bottom */
  }
}

@media only screen and (max-width:768px) {
  .main {
    
    .component{
      padding: 1rem;
      
    }
  }
}


@media only screen and (max-width:426px) {
  .main {
    
    .component{
      padding: 0;
      
    }
  }
}

