.orders_container {
  width: 800px;

  .header_text {
    color: #db4444;
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 1.5rem;
  }
}

.orders_content {
  .orders {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #e5e5e5;
      }
    }

    .order-card {
      padding: 1rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      transition: all 0.3s ease;

      /* Order header */
      .order-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .order-status {
          p {
            font-size: 0.87rem;
            color: #db4444;
            text-transform: capitalize;
          }
        }

        .order-shipping-date {
          p {
            font-size: 0.87rem;
            color: #666;
          }
        }
      }

      /* Order items list */
      .order-items-list {
        margin-bottom: 1rem;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem;
            border-bottom: 1px solid #d5d5d5;
          }

          li:last-child {
            border-bottom: none;
          }

          a {
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }

          .item-info {
            display: flex;
            align-items: center;

            img {
              height: 50px;
              width: 50px;
              margin-right: 1rem;
              border-radius: 5px;
            }

            .name {
              max-width: 300px;
              font-size: 0.9rem;
            }
          }

          .item-price {
            p {
              font-size: 0.85rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .order-summary {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 0.9rem;
        }
      }
    }

    .order-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 1140px) {
  .orders_container {
    width: 700px;
  }
}

@media only screen and (max-width: 1000px) {
  .orders_container {
    width: 600px;
  }
}

@media only screen and (max-width: 871px) {
  .orders_container {
    width: 500px;

    .header_text {
      font-size: 1rem;
    }

    .orders_content {
      .orders {
        

        .order-items-list {
          ul li {
            .item-price {
              p {
                font-size: 0.7rem !important;
              }
            }
          }
        }

        .order-summary {
          p {
            font-size: 0.8rem;
          }

          .track-status {
            a {
              font-size: 0.7rem !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .orders_container {
    width: 100%;

    .header_text{
      text-align: center;
      margin-bottom: 1rem;
    }
    .orders {
      padding: 1rem;

      .order-items-list {
        li {
          padding: 0 0 0.8rem 0 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .orders_container {
    .orders {
      padding: 0;

      .order-card {
        .order-items-list {
          ul li {
            .name {
              font-size: 0.7rem !important;
            }

            .item-info {
              .name {
                max-width: 250px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .orders_container {

    .header_text{
      font-size: 0.8rem;
    }
    .orders {

      .order-card-header{
        p{
          font-size: 0.6rem !important;
        }
      }

      .order-items-list {
        ul li {
          .item-info {
            .name {
              max-width: 200px !important;
            }
          }
        }
      }

      .order-summary{
        p{
          font-size: 0.7rem !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 391px) {
  .orders_container{

    .orders{

      .order-card{
        padding: 0.5rem;

       .order-items-list{

        .item-info{

          .name{
            max-width: 140px !important;
          }
        }
       } 
      }
    }
  }
}
